.ut-font-light {
  font-weight: var(--font-weight-light) !important;
}
.ut-font-regular {
  font-weight: var(--font-weight-regular) !important;
}
.ut-font-medium {
  font-weight: var(--font-weight-medium) !important;
}
.ut-font-bold {
  font-weight: var(--font-weight-bold) !important;
}

/* margin left */
.ut-ml-1 {
  margin-left: var(--spacing-1) !important;
}
.ut-ml-2 {
  margin-left: var(--spacing-2) !important;
}
.ut-ml-3 {
  margin-left: var(--spacing-3) !important;
}
.ut-ml-4 {
  margin-left: var(--spacing-4) !important;
}
.ut-ml-5 {
  margin-left: var(--spacing-5) !important;
}
.ut-ml-6 {
  margin-left: var(--spacing-6) !important;
}
.ut-ml-7 {
  margin-left: var(--spacing-7) !important;
}
.ut-ml-8 {
  margin-left: var(--spacing-8) !important;
}

/* margin right */
.ut-mr-1 {
  margin-right: var(--spacing-1) !important;
}
.ut-mr-2 {
  margin-right: var(--spacing-2) !important;
}
.ut-mr-3 {
  margin-right: var(--spacing-3) !important;
}
.ut-mr-4 {
  margin-right: var(--spacing-4) !important;
}
.ut-mr-5 {
  margin-right: var(--spacing-5) !important;
}
.ut-mr-6 {
  margin-right: var(--spacing-6) !important;
}
.ut-mr-7 {
  margin-right: var(--spacing-7) !important;
}
.ut-mr-8 {
  margin-right: var(--spacing-8) !important;
}

/* margin top */
.ut-mt-1 {
  margin-top: var(--spacing-1) !important;
}
.ut-mt-2 {
  margin-top: var(--spacing-2) !important;
}
.ut-mt-3 {
  margin-top: var(--spacing-3) !important;
}
.ut-mt-4 {
  margin-top: var(--spacing-4) !important;
}
.ut-mt-5 {
  margin-top: var(--spacing-5) !important;
}
.ut-mt-6 {
  margin-top: var(--spacing-6) !important;
}
.ut-mt-7 {
  margin-top: var(--spacing-7) !important;
}
.ut-mt-8 {
  margin-top: var(--spacing-8) !important;
}

/* margin bottom */
.ut-mb-1 {
  margin-bottom: var(--spacing-1) !important;
}
.ut-mb-2 {
  margin-bottom: var(--spacing-2) !important;
}
.ut-mb-3 {
  margin-bottom: var(--spacing-3) !important;
}
.ut-mb-4 {
  margin-bottom: var(--spacing-4) !important;
}
.ut-mb-5 {
  margin-bottom: var(--spacing-5) !important;
}
.ut-mb-6 {
  margin-bottom: var(--spacing-6) !important;
}
.ut-mb-7 {
  margin-bottom: var(--spacing-7) !important;
}
.ut-mb-8 {
  margin-bottom: var(--spacing-8) !important;
}

/* padding left */
.ut-pl-1 {
  padding-left: var(--spacing-1) !important;
}
.ut-pl-2 {
  padding-left: var(--spacing-2) !important;
}
.ut-pl-3 {
  padding-left: var(--spacing-3) !important;
}
.ut-pl-4 {
  padding-left: var(--spacing-4) !important;
}
.ut-pl-5 {
  padding-left: var(--spacing-5) !important;
}
.ut-pl-6 {
  padding-left: var(--spacing-6) !important;
}
.ut-pl-7 {
  padding-left: var(--spacing-7) !important;
}
.ut-pl-8 {
  padding-left: var(--spacing-8) !important;
}

/* padding right */
.ut-pr-1 {
  padding-right: var(--spacing-1) !important;
}
.ut-pr-2 {
  padding-right: var(--spacing-2) !important;
}
.ut-pr-3 {
  padding-right: var(--spacing-3) !important;
}
.ut-pr-4 {
  padding-right: var(--spacing-4) !important;
}
.ut-pr-5 {
  padding-right: var(--spacing-5) !important;
}
.ut-pr-6 {
  padding-right: var(--spacing-6) !important;
}
.ut-pr-7 {
  padding-right: var(--spacing-7) !important;
}
.ut-pr-8 {
  padding-right: var(--spacing-8) !important;
}

/* padding top */
.ut-pt-1 {
  padding-top: var(--spacing-1) !important;
}
.ut-pt-2 {
  padding-top: var(--spacing-2) !important;
}
.ut-pt-3 {
  padding-top: var(--spacing-3) !important;
}
.ut-pt-4 {
  padding-top: var(--spacing-4) !important;
}
.ut-pt-5 {
  padding-top: var(--spacing-5) !important;
}
.ut-pt-6 {
  padding-top: var(--spacing-6) !important;
}
.ut-pt-7 {
  padding-top: var(--spacing-7) !important;
}
.ut-pt-8 {
  padding-top: var(--spacing-8) !important;
}

/* padding bottom */
.ut-pb-1 {
  padding-bottom: var(--spacing-1) !important;
}
.ut-pb-2 {
  padding-bottom: var(--spacing-2) !important;
}
.ut-pb-3 {
  padding-bottom: var(--spacing-3) !important;
}
.ut-pb-4 {
  padding-bottom: var(--spacing-4) !important;
}
.ut-pb-5 {
  padding-bottom: var(--spacing-5) !important;
}
.ut-pb-6 {
  padding-bottom: var(--spacing-6) !important;
}
.ut-pb-7 {
  padding-bottom: var(--spacing-7) !important;
}
.ut-pb-8 {
  padding-bottom: var(--spacing-8) !important;
}
