@use "@styles/abstracts" as *;

.overlay {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;

  &.open {
    background-color: rgb(var(--transparent-background));
  }
}

.modal {
  position: relative;
  z-index: 1;
  max-width: min(90vw, rem(480px));
  padding: var(--spacing-6);
  background-color: var(--color-background);
  border: var(--border-width-base) solid var(--color-gray-100);
}
