@use "@styles/abstracts" as *;

.root {
  --heading-color: var(--color-white);
  --heading-weight: var(--font-weight-bold);

  color: var(--heading-color);
  font-weight: var(--heading-weight);
  word-break: keep-all;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.white {
  color: var(--color-white);
}
.black {
  color: var(--color-black);
}
.gray100 {
  color: var(--color-gray-100);
}
.gray200 {
  color: var(--color-gray-200);
}
.link {
  color: var(--color-link);
}

.light {
  font-weight: var(--font-weight-light);
}
.regular {
  font-weight: var(--font-weight-regular);
}
.medium {
  font-weight: var(--font-weight-medium);
}

@for $i from 1 through 5 {
  .size#{$i} {
    font-size: var(--heading-#{$i});
  }
}
