:root {
  --text-color: inherit;
  color: var(--text-color);
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.white {
  color: var(--color-white);
}
.black {
  color: var(--color-black);
}
.gray100 {
  color: var(--color-gray-100);
}
.gray200 {
  color: var(--color-gray-200);
}
.link {
  color: var(--color-link);
}

.sizexxl {
  font-size: var(--text-xxl);
}
.sizexl {
  font-size: var(--text-xl);
}
.sizel {
  font-size: var(--text-l);
}
.sizem {
  font-size: var(--text-m);
}
.sizes {
  font-size: var(--text-s);
}
