$mobile: 768px;
$tablet: 768px;
$laptop: 1024px;
$desktop: 1402px;

// 768px 미만
@mixin mobile {
  @media (max-width: $mobile) {
    @content;
  }
}

// 768px 이상
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

// 1024px 이상
@mixin laptop {
  @media (min-width: $laptop) {
    @content;
  }
}

// 1402px 이상
@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin fade-motion(
  $duration: 0.6s,
  $delay: 0s,
  $ease: var(--ease-smooth),
  $direction: bottom,
  $distance: 40px
) {
  opacity: 0;
  transition:
    opacity $duration ease $delay,
    transform $duration $ease $delay;

  @if $direction == bottom {
    transform: translateY($distance);
  } @else if $direction == top {
    transform: translateY(-$distance);
  } @else if $direction == left {
    transform: translateX(-$distance);
  } @else if $direction == right {
    transform: translateX($distance);
  }

  &.isShow {
    opacity: 1;
    transform: translate(0, 0);
  }
}
