@charset "UTF-8";
@import url(./font.css);

:root{
    --primary:#FF5A5F;
    --black:#1E1E20;
    --gray:#5E5E65;
    --white:#E6E6EC;
    --border:#EDEAE3;
    --demi-light:300;
    --bold:700;
    --medium:500;
    --regular:400;
}

* {margin: 0;padding: 0}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center, button,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin:0;padding:0;border:0;color:var(--black)}
ol, ul {list-style: none}
button{background:none;border-style:none;}

/* convention */
.t-high{color:var(--primary)!important}
div > .wrap{width:1440px;margin:0 auto;padding-bottom:220px}

.App{padding-top:80px}

/* section titles */
.txt-title{margin-bottom:62px}
.txt-title .wrap{display:flex;align-items:baseline;justify-content:flex-start;padding-bottom:0}
.txt-title p{font-size:32px;font-weight:var(--medium);letter-spacing:-2px}
.txt-title .txt-dash{position:relative;margin-right:4px}
.txt-title .txt-dash::before{content:"";display:block;width:100%;height:3px;background:var(--primary)}

/* header */
header{width:100%;position:fixed;top:0;left:0;box-sizing:border-box;border-bottom:1px solid var(--border);background:#fff;z-index:100}
header > div{width:1440px;height:80px;display:flex;align-items:center;justify-content:space-between;margin:0 auto;}
header h1 button{font-size:32px;font-weight:var(--bold);letter-spacing:-2px}
header ul{display:flex;align-items:center;justify-content:flex-end;gap:24px}
header ul li button{font-size:18px;font-weight:var(--regular);position:relative;cursor:pointer}
header ul li button::after{content:"";display:block;position:absolute;bottom:-2px;left:0;width:0;height:2px;background:var(--primary);transition:0.2s all}
header ul li button:hover::after{width:100%;}

/* footer */
footer{width:100%;border-top:1px solid var(--border);background:#fff;margin-top:1200px}
footer > div{height:80px;display:flex;flex-direction:column;align-items:center;justify-content:center;margin-right:24px}
footer p{font-size:14px;color:var(--gray);opacity:0.5}


/* section-main */
.section-main{padding-top:280px;padding-bottom:110px}
.section-main .wrap{position:relative}
.section-main .main-title{font-size:102px;font-weight:var(--bold);letter-spacing:-10px;line-height:1.5}
.section-main .main-title .t-high{position:relative}
.section-main .main-title .t-high::before{content:"";position:absolute;display:block;width:calc(100% + 4px);height:2px;background:var(--black);top:16px;left:2px}
.section-main .sub-en{font-size:24px;font-weight:var(--medium);margin-top:16px}
.section-main .sub-ko{font-size:22px;font-weight:var(--demi-light)}
.section-main .circle-wrap{display:flex;flex-direction:column;align-items:flex-end;justify-content:flex-start;position:absolute;top:-123px;right:84px}
.section-main .circle-solid{display:flex;align-items:center;justify-content:center;width:398px;height:398px;border-radius:100%;border:1px solid var(--gray);margin-right:120px}
.section-main .circle-dash{position:relative;width:294px;height:294px;top:-119px;animation: circle-rotate-reverse 36s linear infinite;}
.section-main .circle-inner{width:290px;height:290px;animation: circle-rotate 20s linear infinite;}
.section-main .circle-inner::after{content:"";display:block;width:34px;height:34px;background:var(--black);border-radius:100%}

@keyframes circle-rotate{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg)}
}
@keyframes circle-rotate-reverse{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(-360deg)}
}

/* section-career */
.career-block{display:flex;align-items:flex-start;justify-content:flex-start}
.career-block:not(:last-child){margin-bottom:24px}
.career-block .block-years{display:inline-flex;align-items:center;justify-content:flex-start;width:520px;gap:0 22px}
.career-block .block-years p{font-size:24px;font-weight:var(--medium);letter-spacing:-1px}
.career-block .line-dash{width:92px;height:1px;background:var(--black)}
.career-block .block-years div{display:flex;align-items:center;justify-content:flex-start;gap:0 12px}
.career-block .block-company > p{font-size:16px;font-weight:var(--medium);margin: 6px 0 16px}
.career-block .block-company .info-detail{display:inline-flex;align-items:center;justify-content:flex-start;margin-left:72px;gap:0 34px}
.career-block .block-company .info-detail p{font-size:16px;font-weight:var(--regular);color:var(--gray)}