@use "@styles/abstracts" as *;

.root {
  max-width: var(--root-max-width);
  scroll-margin-top: var(--header-height);
  padding-block: var(--container-padding-block);
  margin: 0 auto;
  border-bottom: var(--border-width-base) solid var(--color-gray-100);
}

.container {
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-12);
  margin-top: var(--spacing-12);
}

.img {
  position: relative;
  max-width: rem(470px);
  height: rem(120px);
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: var(--color-background);
  }
  &.visible {
    &::before {
      transform: translateY(-100%);
      transition: transform var(--transition-content) var(--ease-smooth);
    }
    img {
      transform: scale(1);
      transition-delay: 0.3s;
    }
  }
  &:hover {
    img {
      opacity: 0.8;
    }
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    transition:
      opacity var(--transition-fast) var(--ease-default),
      transform var(--transition-content) var(--ease-smooth);
  }
}

.list {
  flex: 1;
  @include fade-motion(
    var(--transition-content),
    0s,
    var(--ease-smooth),
    bottom,
    var(--spacing-5)
  );
}

.item {
  padding-block: var(--spacing-6);
  border-bottom: var(--border-width-base) solid var(--color-gray-100);
}

@include laptop {
  .root {
  }

  .img {
    height: initial;
  }

  .content {
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    margin-top: 72px;
  }
}
